name: "build-and-deploy-web"
on: push

env:
  GODOT_VERSION: 4.6
  PROJECT_PATH: .

jobs:

  export-web:
    name: Web Export
    runs-on:
      group: ubuntu-runners
    container:
      image: barichello/godot-ci:4.6
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Web Build
        run: |
          mkdir -v -p build/web
          godot --headless --verbose --export-release "Web" build/web/index.html
      - name: Print working directory
        run: |
          pwd          
      - name: List all files
        run: |
          ls -lah -R
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: build/web
      - name: Push to Itch.io
        uses: manleydev/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
          CHANNEL: web
          ITCH_GAME: drive-legacy
          ITCH_USER: bearer-of-the-curse
          PACKAGE: build/web
